.bgIcon {
  position: absolute;
  top: -169px;
  left: 1px;
  width: 1451px;
  height: 1239px;
  object-fit: cover;
}
.heroBgIcon,
.heroBgIcon1 {
  position: absolute;
  top: 534px;
  left: 0;
  width: 1439px;
  height: 291px;
  z-index: 1;
}
.heroBgIcon1 {
  top: -69px;
  left: -78px;
  width: 1642.2px;
  height: 154px;
  object-fit: contain;
}
.bitcoinLogoIcon,
.connectionsIcon {
  position: absolute;
  top: 140px;
  left: 828px;
  width: 348.1px;
  height: 348px;
  z-index: 1;
}
.connectionsIcon {
  top: 498.7px;
  left: 140px;
  width: 1040px;
  height: 275.3px;
  z-index: 2;
}
.vectorIcon,
.vectorIcon1,
.vectorIcon2 {
  position: absolute;
  top: 31px;
  left: 1032px;
  width: 5px;
  height: 3px;
  z-index: 2;
}
.vectorIcon1,
.vectorIcon2 {
  left: 1126px;
}
.vectorIcon2 {
  top: 19px;
  left: 107px;
  width: 41.5px;
  height: 26px;
}
.bgParent {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.cryptoTradingThe,
.the {
  margin: 0;
}
.nextGen,
.theCryptoTradingContainer {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-family: inherit;
}
.theCryptoTradingContainer {
  align-self: stretch;
  line-height: 130%;
  font-weight: 600;
  z-index: 1;
}
.nextGen {
  width: 289px;
  line-height: 59px;
  font-weight: 700;
  background: linear-gradient(89.03deg, #2c65b8, #885aec);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  z-index: 2;
}
.nextGenTag,
.theCryptoTradingTheFibreParent {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.nextGenTag {
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 24px;
  margin-top: -185px;
  font-size: 45px;
  font-family: var(--font-hanson);
}
.theCryptoTradingTheFibreParent {
  flex-direction: column;
  justify-content: flex-start;
  min-height: 195px;
}
.span {
  color: var(--color-white);
}
.waves {
  font-family: var(--font-hanson);
  color: var(--color-mediumslateblue-200);
}
.enjoyBetterRatesContainer {
  margin: 0;
  width: 413px;
  height: 73px;
  position: relative;
  font-size: 18px;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
  z-index: 1;
  color: #dfdfdf;
  font-family: inherit;
}
.frameParent,
.index1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameParent {
  width: 495px;
  gap: 10px;
  max-width: 100%;
}
.index1 {
  width: 100%;
  position: relative;
  background-color: #363636;
  overflow: hidden;
  padding: 17px 105px 366px;
  box-sizing: border-box;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: 50px;
  color: #f5f5f5;
  font-family: var(--font-poppins);
}
@media screen and (max-width: 750px) {
  .theCryptoTradingContainer {
    font-size: 40px;
    line-height: 52px;
  }
  .nextGen {
    font-size: 36px;
    line-height: 47px;
  }
  .index1 {
    padding-left: var(--padding-33xl);
    padding-right: var(--padding-33xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .theCryptoTradingContainer {
    font-size: 30px;
    line-height: 39px;
  }
  .nextGen {
    font-size: 27px;
    line-height: 35px;
  }
  .index1 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
